{% extends "layout.html" %}

{% block title %}
	{% block heading %}
		Book Reviews - {{ book[2] }}, {{ book[3] }}
	{% endblock %}
{% endblock %}

{% block body %}
	<form method="POST">
		<ul>
			<li><label for "review_score">Score:</label></li>
			<li><input type="number" name="review_score" id="review_score" min="1" max="5" placeholder="1-5"></li>
			<li><label for="review_text">Write a review:</label></li>
			<li><textarea name="review_text" id="review_text" rows="10" cols="40"></textarea></li>
			<li><input type="submit" value="Submit"></li>
		</ul>
	</form>
	
	{% for review in reviews %}
		<hr>
		<h2>{{ review[0] }} at {{ review[3] }}</h2>
		<h3>Score: {{ review[1] }}</h3>
		<p>{{ review[2] }}</p>
	{% endfor %}

{% endblock %}
